<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hi! This is my blogs page. Feel free to read and look around!</p>
    <img src="http://p1.i.ntere.st/fe6e4d06e9fd1aaa1af2b94d59397248_480.jpg" style="width:120px; height:112px;">
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/aweb9099/devcamp-portfolio"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.youtube.com/channel/UCSQUwQcXUybw22HAjr74ETQ"><%= fa_icon "youtube" %></a></li>
      <li><a href="#"><%= fa_icon "tumblr" %></a></li>
    </ol>
  </div>
</div>