<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My Blog</h1>
    <p class="lead blog-description">Welcome to my blog page! Please leave a comment if you want.</p>
    <span>
      <%= link_to "Topics", topics_path, class: 'btn btn-info'%>
    </span>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path, class: 'btn btn-primary' if logged_in?(:site_admin) %>
    </span>
  </div>
</div>