<div class="app-card-container">
  <div class="card">
    <h1>This is about me!</h1>
    <hr>
    <div class="row">
      <div class="col-md-5">
         <%= image_tag "zapdos.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <p><small>Picture from some one on Deviantart</small></p>
      </div>
      
      <div class="col-md-7">
        <p>I'm 16, 6ft 1in, and male. I like Zapdos.</p>
      </div>
    </div>
    
    <hr>
  </div>
</div>
