<h1>My Contacts</h1>

<p><%= number_to_phone "8011234567" %></p>
<hr>
<a href="https://www.youtube.com/channel/UCSQUwQcXUybw22HAjr74ETQ">My YouTube Channel!</a>
<hr>
<p>Address: 1234 Road Street Dr, City</p>
<hr>
<p>Email: thisisanemail123@email.com</p>
