<div class="inner cover">
  <h1 class="cover-heading">Top of the Morning to Yah!</h1>
  <p class="lead">Welcome to my blogs and portfolio website. Please feel free to look around.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
